<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sistema Escolar</strong> desenvolvido por <a href="https://github.com/nemuba">Alef Oliveira</a>.
    </p>
  </div>
</footer>