<footer class="footer">
  <div class="content has-text-centered has-text-white">
    <span>
      Sistema Escolar - desenvolvido por
    </span>
    <a class="has-text-white">@Alefojeda</a>
  </div>
</footer>