<nav class="navbar is-link">
  <div class="container">
    <div class="navbar-brand">
      <a href="<%= root_path %>" class="navbar-item has-text-weight-bold">
        Sistema Escolar
      </a>
    </div>
    </div>
  </nav>