<section class="hero is-link is-medium is-mobile is-desktop">
  <div class="hero-body">
    <div class="container">
      <p class="title is-2">Bem vindo ao Sistema Escolar !</p>
      <p class="subtitle is-3">Sistema de gerenciamento escolar.</p>
      <p class="subtitle is-5">Facilitando seu trabalho.</p>
      <a href="<%= new_user_session_path %>" class="button is-light is-outlined">Acessar</a>
    </div>
  </div>
</section>


