<div id="wrapper">
  <div id="active_admin_content">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="panel">
          <h3>Bem vindo ao sistema escolar </h3>
          <ul>
            <li><%= link_to "Login ao painel de controle", new_user_session_path %></li>
            <li><%= link_to "Sobre sistema", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

