
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
$primary-color: #0946ff;
// Active Admin's got SASS!
//@import "active_admin/mixins";
//@import "active_admin/base";
@import 'formadmin/formadmin';
@import 'activeadmin_addons/all';
@import 'activeadmin/quill_editor_input';
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// Vars Enum Kind
$admin-color: #16ff00;
$secretary-color: #fffb01;
$teacher-color: #0003a5;
$director-color: #a50203;
$vice-director-color: #a54e0c;
$coordinator-color: #a50096;

// Vars Enum Job_role
$peb1-color: #00abee;
$peb2-color: #006dee;
$pdi-color: #0ca577;
$asi-color: #00a4a5;
$paeb-color: #54a500;
$amanuensis-color: #fffb01;
$admin_user-color: #16ff00;
// Vars Enum Status
$active-color: #16ff00;
$inactive-color: #ff0500;
$transferred-color: #ff1906;

.status_tag {
  &.admin { background: $admin-color; }
  &.admin_user { background: $admin_user-color; }
  &.secretary { background: $secretary-color; }
  &.teacher { background: $teacher-color;}
  &.director { background: $director-color;}
  &.vice-director { background: $vice-director-color;}
  &.coordinator { background: $coordinator-color;}
  &.paeb { background: $paeb-color;}
  &.peb1 { background: $peb1-color;}
  &.peb2 { background: $peb2-color;}
  &.pdi { background: $pdi-color;}
  &.asi { background: $asi-color;}
  &.amanuensis { background: $amanuensis-color;}
  &.active { background: $active-color;}
  &.inactive { background: $inactive-color;}
  &.transferred { background: $transferred-color;}
}